body{
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
    width: 80%;
    /* background-color: #03011df6; */
}
h1{
    z-index: 1;
    position: relative;
}
div#scene-container {
    top: 0;
    left: 0;
    width: 100%;
}